# Supabase Configuration
# Dapatkan nilai ini dari Dashboard Supabase -> Project Settings -> API
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here

# Email Akun Super Admin (bisa lebih dari satu, pisahkan dengan koma)
NEXT_PUBLIC_ADMIN_EMAIL=admin@domain.com,owner@domain.com

